
---
let image1:string = "https://pluralidadz.com/wp-content/uploads/2020/10/Platzi-day.jpg"
let image2:string = "https://cr3atuweb.com/wp-content/uploads/School-Platzi.png";
let image3:string ="https://repository-images.githubusercontent.com/398540078/b15797e9-6eb7-469c-ae5f-466a5b0c24c9";
---
<div class="carousel-container dark-theme">
    <button class="arrow prev" onclick="changeSlide(-1)">&#10094;</button>
    <div class="slide-container">
      <div class="slides">
        <img src={image1} alt="Imagen 1">
        <img src={image2} alt="Imagen 2">
        <img src={image3} alt="Imagen 3">
      </div>
    </div>
    <button class="arrow next" onclick="changeSlide(1)">&#10095;</button>
  </div>

  <style>
   
/* Estilos para las imágenes dentro del carrusel */
.slides img {
 width: 100%;
 height: 100%;
 object-fit: cover; /* Asegura que las imágenes cubran todo el espacio disponible sin distorsionarse */
}

/* Estilos para los botones de navegación */
.arrow {
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
 background-color: rgba(255, 255, 255, 0.5); /* Fondo semi-transparente blanco */
 border: none;
 font-size: 2rem;
 padding: 10px;
 cursor: pointer;
}

.arrow.prev {
 left: 10px; /* Posiciona el botón de navegación anterior a la izquierda */
}

.arrow.next {
 right: 10px; /* Posiciona el botón de navegación siguiente a la derecha */
}

/* Estilos específicos para el tema oscuro */
.dark-theme {
 background-color: #121212; /* Fondo oscuro para el contenedor del carrusel */
}

  </style>
<script>
    import "../scripts/carrusel.js"
</script>

