<div>
  <h1 id="seccion5">Control de Cambios</h1>
  <p></p>
  <h3>1. ¿Qué tipo de cambios se contemplaron?</h3>
  <ul>
    <li>
      <strong>Cambios en la funcionalidad: </strong>Nuevos cursos, rutas de
      aprendizaje, herramientas, etc...
    </li>
    <li>
      <strong>Cambios en el diseño: </strong>Interfaz de usuario, experiencia de
      usuario, etc...
    </li>
    <li>
      <strong>Cambios en el contenido: </strong>Actualización de cursos,
      corrección de errores, etc.
    </li>
    <li>
      <strong>Cambios en la infraestructura: </strong>Servidores,
      almacenamiento, seguridad, etc.
    </li>
  </ul>
  <h3>2. ¿Quién tiene la responsabilidad de aprobar los cambios?</h3>
  <ul>
    <li>
      <strong>Equipo de producto: </strong>Define la visión y estrategia de la
      plataforma.
    </li>
    <li>
      <strong>Equipo de desarrollo: </strong>Implementa los cambios en la
      plataforma.
    </li>
    <li>
      <strong>Equipo de QA: </strong>Valida la calidad de los cambios antes de
      su lanzamiento.
    </li>
    <li>
      <strong>Usuarios: </strong>Pueden solicitar cambios o dar feedback sobre
      los cambios realizados.
    </li>
  </ul>
  <h3>3. ¿Cómo se medirá el impacto de los cambios?</h3>
  <ul>
    <li>
      <strong>Métricas de uso: </strong>Número de usuarios, cursos completados,
      tiempo de interacción, etc.
    </li>
    <li>
      <strong>Satisfacción del usuario: </strong>Encuestas, entrevistas, grupos
      focales, etc.
    </li>
    <li>
      <strong>Retorno de la inversión: </strong> Análisis del costo-beneficio de
      los cambios realizados
    </li>
  </ul>
</div>

<style>
  h1 {
        text-align: center; /* Centrar solo el h2 */
        margin-bottom: 20px; /* Agregar espacio inferior */
      }
</style>