<div>
    <h1 id="seccion3.1">Contexto de la aplicación</h1>
</div>

<style>
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
</style>

<h2>Encuestas y cuestionarios 📋</h2>

<div class="describe">
    <h3>Objetivo 🎯</h3>
    <ul>
        <li>
            Evaluar la satisfacción de los usuarios con la plataforma Platzi y
            obtener información sobre sus necesidades y expectativas.
        </li>
    </ul>

<h3>Público objetivo 👥</h3>
<ul><li>Usuarios activos de Platzi.</li></ul>
<h3>Metodología 🧪</h3>
<ul><li>Encuesta online anónima.</li></ul>
</div>
<h3>Preguntas:</h3>
<ol>
    <li>
        <h4>Datos demográficos:</h4>
        <ul>
            <li>¿Cuál es su edad?</li>
            <li>¿Cuál es su género?</li>
            <li>¿En qué país reside?</li>
            <li>¿Cuál es su nivel educativo?</li>
            <li>¿Cuál es su área de trabajo o estudio?</li>
        </ul>
    </li>
    <li>
        <h4>Experiencia con Platzi:</h4>
        <ul>
            <li>¿Cuánto tiempo lleva utilizando Platzi?</li>
            <li>¿Con qué frecuencia utiliza Platzi?</li>
            <li>
                ¿Qué tan satisfecho está con la plataforma Platzi en general?
            </li>
        </ul>
    </li>
    <li>
        <h4>Satisfacción con los cursos:</h4>
        <ul>
            <li>
                ¿Los cursos de Platzi son relevantes para sus intereses y
                necesidades?
            </li>
            <li>¿El contenido de los cursos es de alta calidad?</li>
            <li>¿Los profesores de los cursos son claros y explicativos?</li>
        </ul>
    </li>
    <li>
        <h4>Usabilidad de la plataforma:</h4>
        <ul>
            <li>¿Es la plataforma Platzi fácil de usar?</li>
            <li>¿Es la interfaz de la plataforma intuitiva y amigable?</li>
            <li>
                ¿Es el contenido de la plataforma accesible en diferentes
                dispositivos (computador, tableta, teléfono)?
            </li>
        </ul>
    </li>
    <li>
        <h4>Soporte al cliente:</h4>
        <ul>
            <li>
                ¿Ha tenido que contactar con el servicio de atención al cliente
                de Platzi?
            </li>
            <li>
                ¿Su experiencia con el servicio de atención al cliente ha sido
                satisfactoria?
            </li>
        </ul>
    </li>
    <li>
        <h4>Recomendación:</h4>
        <ul>
            <li>¿Recomendaría Platzi a otras personas?</li>
            <li>¿Por qué sí o por qué no?</li>
        </ul>
    </li>
    <li>
        <h4>Sugerencias:</h4>
        <ul>
            <li>¿Qué sugerencias tiene para mejorar la plataforma Platzi?</li>
        </ul>
    </li>
</ol>
<style>
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    .describe {
        list-style: none;
        padding: 10px;
        background-color: #23262d;
        background-image: none;
        background-size: 400%;
        border-radius: 7px;
        background-position: 100%;
        transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
        transition: transform 0.3s ease-in-out; /* Transición suave para el efecto de ampliación */
    }

    .describe:hover {
        transform: scale(1.05); /* Aumenta el tamaño de la imagen en un 5% */
    }
</style>
