---

---

<div class="container">
  <h2 id="seccion2"> Definici贸n de Requisitos</h2>

  <h3> Requisitos Funcionales</h3>
  <div class="describe">
    <p>
      Los requisitos funcionales describen las funciones o acciones espec铆ficas
      que debe realizar el sistema.
    </p>
  </div>

  <h3> Requisitos No Funcionales</h3>
  <div class="describe">
    <p>
      Los requisitos no funcionales describen las cualidades del sistema, como
      su rendimiento, seguridad, usabilidad, etc.
    </p>
  </div>

  <h2 id="seccion3">Lista de Requisitos 锔</h2>

  <h3>Requisitos Funcionales </h3>
  <div class="describe">
    <ul>
        <li><strong>FUNC1:</strong> Registro de Usuarios - Permite a los usuarios crear cuentas en la 
          plataforma proporcionando la informaci贸n necesaria.</li>
        <li><strong>FUNC2:</strong> Cat谩logo de Cursos - Proporciona una lista organizada 
          de todos los cursos disponibles en la plataforma.</li>
        <li><strong>FUNC3:</strong> Visualizaci贸n de Contenido - Permite a los usuarios acceder y 
          visualizar el contenido de los cursos.</li>
        <li><strong>FUNC4:</strong> Interacci贸n en Vivo - Ofrece la posibilidad de participar en 
          sesiones de aprendizaje en vivo con instructores.</li>
        <li><strong>FUNC5:</strong> Evaluaci贸n del Aprendizaje - Permite a los usuarios evaluar su 
          comprensi贸n y conocimiento adquirido mediante evaluaciones.</li>
        <li><strong>FUNC6:</strong> Foros y Comunidad - Facilita la interacci贸n entre usuarios 
          para discutir temas relacionados con los cursos y compartir experiencias.</li>
        <li><strong>FUNC7:</strong> Certificaci贸n - Ofrece certificados de finalizaci贸n a los usuarios que 
          completen satisfactoriamente los cursos.</li>
        <li><strong>FUNC8:</strong> Sistema de Pago - Proporciona funcionalidades para que los usuarios 
          puedan realizar pagos por cursos premium u otros servicios.</li>
        <li><strong>FUNC9:</strong> Personalizaci贸n de Experiencia - Permite a los usuarios personalizar su 
          experiencia de aprendizaje seg煤n sus preferencias y necesidades.</li>
        <li><strong>FUNC10:</strong> Soporte T茅cnico - Ofrece asistencia t茅cnica a los usuarios para 
          resolver problemas t茅cnicos o responder preguntas relacionadas con la plataforma.</li>
    </ul>
  </div>
  <h3>Requisitos No Funcionales </h3>
  <div class="describe">
    <ul>
        <li><strong>NOFUNC1:</strong> Accesibilidad - Garantiza que la plataforma sea accesible para personas
           con discapacidades, cumpliendo con est谩ndares de accesibilidad web.</li>
        <li><strong>NOFUNC2:</strong> Seguridad de la Informaci贸n - Asegura la protecci贸n de la informaci贸n 
          confidencial de los usuarios mediante medidas de seguridad robustas.</li>
        <li><strong>NOFUNC3:</strong> Rendimiento - Garantiza un rendimiento 贸ptimo de la plataforma, 
          minimizando tiempos de carga y asegurando una respuesta r谩pida.</li>
        <li><strong>NOFUNC4:</strong> Escalabilidad - Permite que la plataforma pueda manejar un aumento en el 
          n煤mero de usuarios y cursos sin afectar su rendimiento.</li>
        <li><strong>NOFUNC5:</strong> Compatibilidad - Asegura que la plataforma sea compatible con diferentes 
          navegadores web y dispositivos.</li>
        <li><strong>NOFUNC6:</strong> Disponibilidad - Garantiza que la plataforma est茅 disponible 
          para su uso en todo momento, minimizando tiempos de inactividad.</li>
        <li><strong>NOFUNC7:</strong> Experiencia de Usuario - Busca proporcionar una experiencia de usuario 
          satisfactoria, intuitiva y f谩cil de usar.</li>
        <li><strong>NOFUNC8:</strong> Cumplimiento Legal - Asegura que la plataforma cumpla con 
          todas las regulaciones y leyes aplicables, especialmente en materia de privacidad y protecci贸n de datos.</li>
        <li><strong>NOFUNC9:</strong> Personalizaci贸n de Contenido - Permite personalizar el 
          contenido de los cursos seg煤n las preferencias y necesidades espec铆ficas de los usuarios.</li>
        <li><strong>NOFUNC10:</strong> Actualizaciones y Mantenimiento - Garantiza que la 
          plataforma se mantenga actualizada y funcione correctamente mediante actualizaciones peri贸dicas y mantenimiento preventivo.</li>
    </ul>
  </div>
  <br />
  <br />
</div>

<style>
  h2 {
    text-align: center; /* Centrar solo el h2 */
    margin-bottom: 20px; /* Agregar espacio inferior */
  }
  .container {
    padding: 20px;
    border-radius: 10px;
  }
  .describe {
    list-style: none;
    display: flex;
    padding: 10px;
    background-color: #23262d;
    background-image: none;
    background-size: 400%;
    border-radius: 7px;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease-in-out; /* Transici贸n suave para el efecto de ampliaci贸n */
  }

  .describe:hover {
    transform: scale(1.05); /* Aumenta el tama帽o de la imagen en un 5% */
  }
</style>
