<div class="container">
    <h2>Definición de Requisitos</h2>
    
    <h3>Requisitos Funcionales</h3>
    <div class="describe">
        <p>Los requisitos funcionales describen las funciones o acciones específicas que debe realizar el sistema.</p>
    </div>
    
    <h3> Requisitos No Funcionales</h3>
    <div class="describe">
        <p>Los requisitos no funcionales describen las cualidades del sistema, como su rendimiento, seguridad, usabilidad, etc.</p>
    </div>
    
    <h2>Lista de Requisitos</h2>
    
    <h3>Requisitos Funcionales</h3>
    <div class="describe">
    <ul>
        <li><strong>FUNC1:</strong> Funcionalidad de inicio de sesión de usuario.</li>
        <li><strong>FUNC2:</strong> Funcionalidad de búsqueda de cursos.</li>
        <li><strong>FUNC3:</strong> Funcionalidad de reproducción de videos.</li>
        <li><strong>FUNC4:</strong> Funcionalidad de seguimiento de progreso del estudiante.</li>
        <li><strong>FUNC5:</strong> Funcionalidad de registro de cursos completados.</li>
    </ul>
    </div>
    <h3>Requisitos No Funcionales</h3>
    <div class="describe">
    <ul>
        <li><strong>NOFUNC1:</strong> Tiempo de carga de la página no debe exceder los 3 segundos.</li>
        <li><strong>NOFUNC2:</strong> Interfaz de usuario debe ser intuitiva y fácil de usar.</li>
        <li><strong>NOFUNC3:</strong> Sistema debe ser compatible con diferentes navegadores web.</li>
        <li><strong>NOFUNC4:</strong> Seguridad de la información del usuario debe cumplir con estándares de la industria.</li>
        <li><strong>NOFUNC5:</strong> Disponibilidad del sistema debe ser del 99.9%.</li>
    </ul>
</div>
<br>
<br>
</div>

<style>
    h2 {
            text-align: center; /* Centrar solo el h2 */
            margin-bottom: 20px; /* Agregar espacio inferior */
        }
    .container{
        
        padding: 20px;
        border-radius: 10px;
        
    }
	.describe{
		list-style: none;
		display: flex;
		padding: 1px;
		background-color: #23262d;
		background-image: none;
		background-size: 400%;
		border-radius: 7px;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
	}
	
	
</style>