<div>
    <h2 id="seccion4">Tabla de StakeHolders</h2>
        <p>Tras analizar los involucrados en Platzi y los aspectos que deben ser considerados,
             se han identificado los siguientes stakeholders
        </p>
        <table>
            <thead> 
                <tr>
                    <th>STAKEHOLDER</th>
                    <th>INTERÉS</th>
                    <th>PRIORIDAD</th>
                    <th>INFLUENCIA</th>
                  </tr>
            </thead>
            <tBody>
                <tr>
                    <td>Gerencia y Directivos</td>
                    <td>Personas encargadas de la toma de decisiones estratégicas y la asignación de recursos para el proyecto</td>
                    <td>Alta</td>
                    <td>Alta</td>
                </tr>
                <tr>
                    <td>Equipo de desarrollo</td>
                    <td>Implementar las nuevas funcionalidades</td>
                    <td>Alta</td>
                    <td>Alta</td>
                </tr>
                <tr>
                    <td>Equipo de producto</td>
                    <td>Definir la visión y estrategia del producto</td>
                    <td>Alta</td>
                    <td>Alta</td>
                </tr>
                <tr>
                    <td>Equipo de marketing</td>
                    <td>Dar a conocer la plataforma y publicidad en ella</td>
                    <td>Alta</td>
                    <td>Media</td>
                </tr>
                <tr>
                    <td>Equipo de atención al cliente</td>
                    <td>Atender las dudas y sugerencias de los usuarios</td>
                    <td>Media</td>
                    <td>Alta</td>
                </tr>
                <tr>
                    <td>Usuarios</td>
                    <td>Aprender nuevas habilidades</td>
                    <td>Alta</td>
                    <td>Alta</td>
                </tr>
                <tr>
                    <td>Empresas</td>
                    <td>Formar talento</td>
                    <td>Media</td>
                    <td>Alta</td>
                </tr>
                <tr>
                    <td>Expertos en educación</td>
                    <td>Mejorar la calidad de los cursos</td>
                    <td>Alta</td>
                    <td>Media</td>
                </tr>
                <tr>
                    <td>Inversores</td>
                    <td>Financiar el crecimiento de la plataforma</td>
                    <td>Alta</td>
                    <td>Media</td>
                </tr>
                <tr>
                    <td>Reguladores o Entidades Externas</td>
                    <td>Si el proyecto está sujeto a regulaciones específicas o requerimientos legales</td>
                    <td>Alta</td>
                    <td>Alta</td>
                </tr>
                
            </tBody>
        </table>
    </div>
    
    
    <style>
        
        table {
            width: 100%;
            border-collapse: collapse;
            border: 2px solid #fff;
        }
        th, td {
            border: 1px solid #fff;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #444;
        }
        tr:nth-child(even) {
            background-color: #333;
        }
    </style>
    
    
