<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Descripción</th>
      <th>Tipo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Funcionalidad de inicio de sesión</td>
      <td>FUNC</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Funcionalidad de búsqueda de productos</td>
      <td>FUNC</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Requisitos de seguridad del sistema</td>
      <td>NOFUNC</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Funcionalidad de carrito de compras</td>
      <td>FUNC</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Requisitos de rendimiento del servidor</td>
      <td>NOFUNC</td>
    </tr>
  </tbody>
</table>

<style>
  table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #fff;
  }
  th {
    border: 1px solid #fff;
    padding: 8px;
    text-align: center;
  }
  td {
    border: 1px solid #fff;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #444;
  }
  tr:nth-child(even) {
    background-color: #333;
  }
</style>
